.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 17px;
  width: 320px;
  height: 50px;
  background: rgba($color: #000000, $alpha: 0.85);
  color: #aeaeae;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 5px;
  overflow: hidden;

  &__title {
    font-size: 18px;
    font-weight: bold;
  }
 }

 .default {
  background: rgba($color: #000000, $alpha: 0.6);
 }

  .success {
    color: #6dc7a9;
  }

  .info {
    color: #f8f8f8;
  }

  .warn {
    color: rgb(194, 131, 13);
  }

  .error {
    color: #cb4154;
  }
