@import "../../theme.scss";

.accountBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  z-index: 1;
  position: fixed;
  background: $primary-background-color;
  font-size: initial;
  top: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 0 20px;

  }

  &__balance {
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: default;
    color: white;
  }

  &__logo {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    img {
      height: 90%;
    }
  }
}