.accountBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  z-index: 1;
  position: fixed;
  background: #6dc7a9;
  font-size: initial;
  top: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;

  }
}