@import "../../breakpoints.scss";
@import "../../theme.scss";


.splash {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: $primary-background-color;
  z-index: 10;
  // position: absolute;

  &__header {
    height: 50px;
    display: flex;
    padding: 5px 10px;
  }

  &__logo {
    height: inherit;
    img {
      height: 100%;
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);

    @include bp-small {
      flex-direction: row;
      padding: 0 10px;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    @include bp-small {
      max-width: 50%;
    }

    &__title {
      text-align: left;
      font-size: 44px;
      line-height: 54px;
      letter-spacing: 0px;
      color: #fff;

      h1 {
        margin: 0;
      }

    }

    &__description {
      text-align: left;
      color: #fff;
      opacity: 0.7;
      line-height: 1.6;
      @include bp-small {
        font-size: 25px;
      }
    }
    
    &__signin {
      display: flex;
      button {
        min-width: 50%;
      }
    }
  }

  &__media {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include bp-small {
      width: 50%;
    }

    &__image {
      width: 90%;
      height: 200px;
      border-radius: 8px;
      overflow: hidden;

      @include bp-small {
        width: 100%;
        height: 300px;
        // transform: perspective(1000px) rotateY(16deg) rotateX(2deg) rotateZ(-7deg) scaleY(0.95) translatex(2%);
      }

      img {
        height: 100%;
      }
    }
  }


  // &__hero {
  //     position: fixed;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  // }
}