.btn {
  padding: 10px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #3c6eb5;
  color: #ecf0f1;
  transition: background-color .3s;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #2f5487;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}