
.coin {
	p {
		font-family: georgia;
		font-style: italic;
		position: absolute;
    font-size: 12px;
    z-index: 700;
    top: -14px;
    left: 0px;
    filter: invert(76%) sepia(76%) saturate(695%) hue-rotate(1deg) brightness(105%) contrast(91%);
	}
	content: "";
	width: 17px;
	height: 17px;
	display: inline-block;
	position: relative;
  cursor: default;
	margin: 5px;
	margin-right: 10px;
	border-radius: 50px;
	z-index: 500;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
  background: linear-gradient(45deg, #F2D70C 35%, #f1edda 37%, #f2d70c 38%, #f1edda 40%, #f2d70c 57%);

	border: 2px solid #e5cf21;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);

  background-size: 1000% 1000%;

  animation: Shimmer 10s cubic-bezier(0.88, 0.27, 0.13, 0.79) infinite;

  &:hover {
    background-size: 100% 100%;
    background: linear-gradient(45deg, #F2D70C 21%, #f1edda 67%, #F2D70C 95%);
  }
}

@keyframes Shimmer {
  0%{background-position:0% 52%}
  50%{background-position:100% 49%}
  100%{background-position:0% 52%}
}