@import "../../theme.scss";

.playerCount {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 0;
  color: white;
  background: #0000006e;
  border-radius: 8px;
  margin: 10px;
  cursor: default;

  &__summary {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 20px;
  }

  &__icon { 
    margin: 0 10px;
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(102deg) brightness(93%) contrast(89%);
  }

  &__details {
    font-size: 13px;
    overflow: hidden;
    opacity: 0.7;
  }

}